/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway:wght@400;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    padding-bottom:8px;
}

h2 {
    font-size: 22px;
    font-weight:700;
}

h3 {
    font-size:16px;
    font-weight: 700;
}

h4 {
    font-size:18px;
    font-weight: 700;
}

p {
    font-size:14px;
    font-weight:400;
}

.pFooter {
    font-size: 16px;
    font-weight: 400;
}



/*****DESKTOP*****/

/*HEADER*/
header{
    height: 79px;
}

header img {
    margin: 30px 50px;
    height: 25px;
}

.container-header {
    display:flex;
    height:80px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    float:right;
}


nav li {
    list-style-type:none;
    margin: 16px 50px;
}

nav li a {
    text-decoration: none;
    color: black;
    padding-top: 14px;
}

nav li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.hebergements {
    margin-right: 30px;
}

/****Section recherche formulaire****/
.recherche, .filtres {
    margin: 30px 50px 0 50px;
}

.formRecherche {
    margin-top: 30px;
}

.fa-location-dot {
    padding: 17px 16px 16px 18px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.searchVille {
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-right: none;
    margin-left: -4px;
    color: black;
}

::placeholder {
    color: black;
  }

.buttonSearch {
    padding: 14px 16px;
    background-color: #0065FC;
    border: 2px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color:white;
    font-size: 18px;
    font-weight:700;
    margin-left:-4px;
}

.fa-magnifying-glass{
    display: none !important;
}


/****FILTRES****/
.filtres { 
    display:flex;
}

.filtres article {
    display: flex;
    margin: 0;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.filtres h4 {
    float:left;
}

.filtres ul {
    margin:0;
    padding:0;
}
.filtres li {
    display:flex;
    float:left;
    border: 2px solid #D9D9D9;
    border-radius:30px;
    padding: 15px;
    margin-left:15px;
}

.filtres li:hover {
    background-color:#DEEBFF;
}

.filtres p{
    margin-left:15px;
    font-size:17px;
    font-weight:700;
}

/****INFO****/
.info {
    margin: 30px 50px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    border-radius: 50%;
    padding:5px 10px;
    border: 1px solid #F2F2F2;
    margin:0px;
}

.info p {
    margin: 0 0 0 10px;
}

/****Hébergements Marseille****/

.containerHebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 50px;
    padding: 30px;
    background-color:#F2F2F2;
    border-radius: 30px;
    gap : 30px;
}

.containerHebergement h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    margin-bottom:10px;
}

.cartes {
    width:100%;
    background-color: #fff;
    border: 5px solid #FFF;
    border-radius: 20px;
}


.containerHebergement img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 

.infosHebergements {
    padding: 15px;
}

.infosHebergements p {
    padding-top:8px;
}

.containerHebergement h4 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin:0;
}

.containerHebergement h4 a {
    color: #000;
    text-decoration: none;
}




/*****TABLETTE*****/
@media screen and (min-width: 768px) and (max-width: 1024px) {
/****FILTRES****/
.filtres { 
    display:flex;
}

.filtres article {
    display: block;
    margin: 0;
}

.filtres h4 {
    width:100%;
    margin-bottom:20px;
}
.filtres li {
    margin-left: 0;
    margin-right:10px;
}
    }


    /*****MOBILE*****/
@media only screen and (max-width: 767px) {

    /*HEADER*/
    header{
        height: auto;
    }

    header img {
        margin: 30px auto 30px auto;
        height: auto;
        justify-content: center;
        width: 61px;
    }

    .container-header {
        display:flex;
        flex-direction: column;
        height:auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        float:none;
        justify-content: space-between;
        padding: 0;
    }

    nav li {
        list-style-type:none;
        margin: 0px;
        width:50%;
        text-align:center;
        padding-bottom: 14px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li:hover{
        border-bottom: 2px solid blue;
    } 

    nav li a {
        text-decoration: none;
        color: black;
        padding-top: 14px;
    }

    nav li:hover a {
        color: #0065FC;
    }

    nav li a:hover {
        border-top: none;
        color: #0065FC;
    }

    .hebergements {
        margin-right: 0px;
    }

    .hebergements:hover {
        color: #0065FC;
    }

    /****Section recherche formulaire****/
    section {
        margin: 30px 20px;
    }

    .searchVille {
        padding: 14px 14px 14px 10px;
    }

    .recherche, .info {
        margin: 30px 20px;
    }

    .fa-magnifying-glass {
        display:inline !important;
    }

    .searchDesk {
        display: none;
    }

    .buttonSearch {
        border-radius: 15px;
        margin-left: -15px;
    }
    
    /****FILTRES****/

    .recherche, .filtres {
        margin: 30px 20px 0 20px;
    }
    
    .filtres { 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
    }

    .filtres article {
        display: block;
    }

    .filtres h4 {
        width:100%;
        margin-bottom:20px;
    }

    .filtres ul {
        width:100%;
    }

    .filtres li{
        width: 125px;
        margin-bottom: 15px;
        padding: 15px;
        margin-left: 0;
        margin-right: 5px;

    }

    .filtres p {
        width:100%;
        margin-left:10px;
    }
}