/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px; /*Ajout de la largeur minimale du site*/
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: #F2F2F2 !important;
}

/*****Textes*****/
h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/******Header*****/
.container-header {
    display: flex;
    justify-content: space-between;
}

.container-header img {
    height: 30px;
    width: auto;
    padding: 30px 0;
}

.container-header ul {
    display: flex;
    gap: 70px;
    padding-left: 0;
    padding-top: 15px;
}

.container-header li {
    list-style-type: none;
}

.container-header li a {
    text-decoration: none;
    color: #000000;
}

.container-header li a:hover {
    color: var(--main-color);
    border-top: 2px solid #0065FC;
    padding-top: 29px;
}

/***** Infogroup *****/
.headline,
.search-bar {
    margin: 30px 0;
}

.search-bar form {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
}

.fa-location-dot {
    color: #000000;
    padding: 15px 18px 16px 18px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    border: 1px solid #F2F2F2;
}

.search-ville {
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

button {
    display: none;
    background-color: transparent;
    border: none;

}

::placeholder {
    color: black;
}

.button-search {
    padding: 15px 16px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.fa-magnifying-glass {
    display: none !important;
}

/*Effacer le texte du placeholder au clic*/
:focus::-webkit-input-placeholder {
    opacity: 0;
}

/*Enlever border en surbrillance au clic*/
input:focus {
    outline: none;
}

/*******FILTRES*******/
.filtres {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.filtres ul {
    display: flex;
    padding-left: 20px;
}

.filtres li {
    display: flex;
    align-items: center;
    margin-right: 16px;
    padding: 10px 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.filtres li a {
    text-decoration:none;
    color:#000;
}

.filtres .fa-solid {
    color: #0065FC;
    padding-right: 10px;
}

.filtres p {
    margin-top: 0;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

/*****Infobar*****/
.info {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.info p {
    margin-top: 0;
}

.fa-info {
    border-radius: 50%;
    padding: 5px 10px;
    border: 1px solid #F2F2F2;
    margin: 0px;
    margin-right: 10px;
}

/******Hebergements And Populaires***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards a,
.populaires-cards a {
    text-decoration: none;
    color: #000;
}

/******Hebergements*****/
.hebergements {
    width: 65%;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.hebergements-cards .card {
    width: 100%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0 0;
}

.hebergements-cards .card-content {
    padding: 5px 15px 15px 15px;
}

.hebergements-cards .card-content h3 {
    margin: 5px 0;
}

.hebergements-cards .card-content p {
    margin-bottom: 8px;
}

.lien-hebergement {
    margin-top: 30px;
}

.lien-hebergement a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}

/******Populaires*****/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****Activites*****/
.activites {
    padding: 30px;
    margin: 35px 0;
}

.activites h2 {
    margin-bottom: 35px;
}

.activites-marseille {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.activites-marseille .card img {
    object-fit: cover;
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activites-marseille .card {
    padding: 0;
    min-height: 100%;

}

.activites-marseille h3 {
    padding: 20px;
    margin: 0;
}

.activites-marseille a {
    text-decoration: none;
    color: #000;
    width: 100%;
}

/*****Footer*****/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    gap: 30px;
    padding: 30px;
}

footer h4 {
    margin: 0;
}

footer article {
    width: 100%
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
    margin-bottom: 15px;

}

footer li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

/**********TABLETTE**********/
/*(inférieur ou égale à 1024px)*/
@media (max-width: 1024px) {

    /*****FILTRES*****/
    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres h4 {
        margin: 0;
    }

    .filtres ul {
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*****Activités*****/
    .activites-marseille .card img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
}


/********** MOBILE **********/
/* (inférieur à 768px)*/
@media (max-width: 767px) {

    .main-container {
        padding: 0;
    }

    /***** HEADER *****/
    .container-header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    .container-header ul {
        gap: 0px;
        padding-top: 0;
    }

    .container-header li {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid white;
        /*Éviter un décalage au :hover*/
        padding-bottom: 15px;
    }

    .container-header li:hover {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 15px;
    }

    .container-header li:hover a {
        color: #0065FC;
    }

    .container-header li a:hover {
        border-top: none;
    }

    /*****Infogroup*****/
    .info-group {
        margin: 30px 20px;
    }

    .button-search {
        display: none;
    }

    .fa-magnifying-glass {
        display: block !important;
    }

    button {
        display: block;
        padding: 0;
    }

    .search-ville{ 
        width:100%; /*Le champ de recherche prend toute la largeur (100%) sur mobile*/
    }

    /*****Filtres*****/
    .filtres ul {
        padding: 0;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }

    .filtres li {
        margin-right: 0;
        padding: 10px;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        width: 40%;
        flex-grow: 1; /*Les filtres s'affichent sur toute la largeur en 320px*/
    }

    /*****Hebergement*****/
    .hebergements {
        background-color: #FFF !important;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
    }

    .hebergements-cards .card {
        width: auto;
    }

    /*Ordre des cards*/
    .hotel-port {
        order: 0;
    }

    .amina {
        order: 5;
    }

    .mouettes {
        order: 2;
    }

    .hotel-mer {
        order: 3
    }

    .canebiere {
        order: 1;
    }

    .auberge-panier {
        order: 4;
    }

    /*****Populaires*****/
    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 97%;
    }

    /*****Activites*****/
    .activites-marseille {
        flex-direction: column;
    }

    .activites-marseille .card img {
        height: 141px;
    }

    .notre-dame img {
        object-position: top;
    }

    /*****Footer*****/
    footer {
        flex-direction: column;
    }
}