/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway:wght@400;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    padding-bottom:8px;
}

.pFooter {
    font-size: 16px;
    font-weight: 400;
}


/*****DESKTOP*****/

/*HEADER*/
header{
    height: 79px;
}

header img {
    margin: 30px 50px;
    height: 25px;
}

.container-header {
    display:flex;
    height:79px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    float:right;
}

nav li {
    list-style-type:none;
    margin: 16px 50px;
}

nav li a {
    text-decoration: none;
    color: black;
    padding-top: 14px;
}

nav li a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.hebergements {
    margin-right: 30px;
}

/****Section recherche formulaire****/
.recherche {
    margin: 30px 50px;
}

.formRecherche {
    margin-top: 30px;
}

.fa-location-dot {
    padding: 17px 16px 16px 18px;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.searchVille {
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-right: none;
    margin-left: -4px;
    color: black;
}

::placeholder {
    color: black;
  }

.buttonSearch {
    padding: 14px 16px;
    background-color: #0065FC;
    border: 2px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color:white;
    font-size: 18px;
    font-weight:700;
    margin-left:-4px;
}

.fa-magnifying-glass{
    display: none !important;
}


/****FILTRES****/
section {
    margin: 0 50px 30px 50px;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    float:left;
}

.titreFiltres{
    font-size:17px;
    font-weight: 700;
}

.filtresBlocs {
    display:flex;
    flex-direction:row;
}

.listeFiltres {
    display:flex;
    flex-direction:row;
    border: 2px solid #D9D9D9;
    padding: 15px 19px;
    align-items: center;
    border-radius: 30px;
    margin:0;

}




/*****TABLETTE*****/
@media screen and (min-width: 768px) and (max-width: 1024px) {
/****FILTRES****/
/*.filtres {
    display: inline;
    margin-bottom:20px;
    float:left;
}
.titreFiltres {
    margin-bottom:20px;
}*/
    }


    /*****MOBILE*****/
@media only screen and (max-width: 767px) {

    /*HEADER*/
    header{
        height: auto;
    }

    header img {
        margin: 30px auto 30px auto;
        height: auto;
        justify-content: center;
        width: 61px;
    }

    .container-header {
        display:flex;
        flex-direction: column;
        height:auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        float:none;
        justify-content: space-between;
        padding: 0;
    }

    nav li {
        list-style-type:none;
        margin: 0px;
        width:50%;
        text-align:center;
        padding-bottom: 14px;
        border-bottom: 2px solid #F2F2F2;
    }

    nav li:hover{
        border-bottom: 2px solid blue;
    } 

    nav li a {
        text-decoration: none;
        color: black;
        padding-top: 14px;
    }

    nav li a:hover {
        color: #0065FC;
    }

    nav li a:hover {
        border-top: none;
    }

    .hebergements {
        margin-right: 0px;
    }

    /****Section recherche formulaire****/
    .formRecherche{
        /*white-space: nowrap;*/
    }

    section {
        margin: 30px 20px;
    }

    .searchVille {
        padding: 14px 14px;
    }

    .recherche {
        margin: 30px 20px;
    }

    .fa-magnifying-glass {
        display:inline !important;
    }

    .searchDesk {
        display: none;
    }
    
    /****FILTRES****/

}